
@{
    ViewBag.Title = "Sample";
}

<h2>Sample</h2>

<div>
    은퇴나이: <input data-bind="value: age" type="text" name="entireYear" class="form-control text-right" style="width:100px" />
</div>
<br />
<div>
    은퇴기간: <input data-bind="value: days" type="text" name="entireDays" class="form-control  text-right"  style="width:100px" />
</div>
<br />
<div>
    연간 필요비용: <input data-bind="value: costByYear" type="text" name="costByYear" class="form-control  text-right"  style="width:100px" /> 만원
</div>
<br />
<div>
    월 비용: <input data-bind="value: costByMonth" type="text" name="costByMonth" class="form-control  text-right"  style="width:100px" /> 만원
</div>
<br />
<div>
    총 목표 금액: <input data-bind="value: totalCost" type="text" name="totalCost" class="text-right form-control"  style="width:100px" /> 만원
</div>

@section scripts{
    <script type="text/javascript">

        var data = { age: 60, days: 30, costByYear: 2400, costByMonth: 200, totalCost: 6000 };

        function Cost(data) {
            var self = this;
            data = data || {};

            self.age = ko.observable(data.age);
            self.days = ko.observable(data.days);
            self.costByYear = ko.observable(data.costByYear);
            self.costByMonth = ko.observable(data.costByMonth);
            self.totalCost = ko.observable(data.totalCost);
        }       
       
        $(function () {
            ko.applyBindings(new Cost(data));
        });

    </script>    
    }